/* SOFT RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
}

/* CUSTOM PROPERTIES */
:root {
    --primary-red: hsl(356, 100%, 66%);
    --primary-light-red: hsl(355, 100%, 74%);
    --primary-blue: hsl(208, 49%, 24%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-blue: hsl(240, 2%, 79%);
    --neutral-dark-blue: hsl(207, 13%, 34%);
    --neutral-black-blue: hsl(240, 10%, 16%);
    --gradient-light: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --gradient-dark: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
}

/* TYPOGRAPHY */
html {
    font-size: 62.5%;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Overpass', sans-serif;
}
.blue-title {
    color: var(--primary-blue);
    font-weight: 600;
}
/* LAYOUT */
.main-background {
    background: url('images/bg-pattern-intro-desktop.svg'), var(--gradient-light);
    color: var(--neutral-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-bottom-left-radius: 15%;
}
.logo {
    width: 101px;
    height: 40px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem;
    gap: 4rem;
}
.hamburger {
    display: none;
}
nav {
    flex-grow: 1;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}
.navbar-login {
    margin-left: auto;
}
.secondary-nav {
    position: absolute;
    top: 100%;
    width: 150px;
    padding: 2rem;
    background-color: var(--neutral-white);
    border-radius: 10%;
}
.secondary-nav li:not(:last-child) {
    margin-bottom: 4px;
}
.secondary-nav a {
    color: var(--neutral-black-blue);
    text-decoration: none;
    transition: all 200ms linear;
}
.main-nav-item::after {
    content: url('images/icon-arrow-light.svg');
    margin-left: 0.5rem;
    display: inline-block;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .navbar {
        position: absolute;
        right: 5%;
        top: 15%;
        flex-direction: column;
        width: 90%;
        background-color: var(--neutral-white);
        color: var(--neutral-black-blue);
        padding: 2rem 4rem;
        border-radius: 5%;
        text-align: center;
        align-items: center;
    }
    .navbar li {
        width: 100%;
    }
    .navbar > li:last-of-type {
        padding-bottom: 4rem;
        border-bottom: 0.5px solid var(--neutral-blue);
    }
    .secondary-nav {
        position: static;
        background-color: var(--neutral-blue);
        width: 90%;
        margin: 0 auto;
    }
    .navbar .btn {
        background: var(--gradient-light);
        color: var(--neutral-white);
    }
    .navbar .alt-btn {
        background: var(--neutral-white);
        color: var(--neutral-black-blue);
        margin: 0;
        font-weight: bold;
    }
    .main-nav-item::after {
        content: url('images/icon-arrow-dark.svg');
    }
    .navbar .main-nav-item:is(:hover, :focus) {
        border-bottom: 0;
    }
}
main {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}
.section-one {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.section-one-container {
    display: flex;
    margin-inline: 4rem;
    position: relative;
}
.section-one-desktop-image {
    width: 60%;
    position: relative;
    right: -20%;
}
.section-one h2 {
    text-align: center;
}
.section-one h4 {
    margin-top: 100px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .section-one-desktop-image {
        position: static;
        width: 100%;
    }
    .section-one-container {
        flex-direction: column-reverse;
        padding-right: 0;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
    .section-one h4 {
        margin-top: 20px;
    }
}
.section-two {
    background: var(--gradient-dark);
    color: var(--neutral-white);
    align-items: center;
    border-radius: 0 50px;
    position: relative;
    display: flex;
    height: 200px;
}
.section-two p {
    margin-top: 3rem;
    font-size: 1.4rem;
    line-height: 1.3;
}
.section-two-container {
    width: 50%;
}
.section-two-phone-image {
    width: 40%;
    background-image: url('images/bg-pattern-circles.svg');
    background-size: cover;
    position: relative;
}
@media (max-width: 768px) {
    .section-two {
        flex-direction: column;
        height: auto;
        padding-bottom: 2rem;
    }
    .section-two-container {
        width: 90%;
        text-align: center;
    }
    .section-two-phone-image {
        width: 80%;
        bottom: 50px;
    }
}
.section-three {
    margin-top: 5rem;
    padding-block: 80px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.section-three-container {
    width: 50%;
    margin-inline: 4rem;
    margin-top: 5rem;
}
.section-three-laptop-image {
    width: 50%;
    position: relative;
    bottom: -20px;
    right: 15%;
    transform: scale(1.2);
}
.section-three p{
    margin-block: 1.5rem;
}
@media (max-width: 768px) {
    .section-three {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding-block: 1rem;
        text-align: center;
    }
    .section-three-container {
        width: 90%;
    }
    .section-three-laptop-image {
        width: 100%;
        position: static;
        transform: scale(1);
    }
}
footer {
    background-color: var(--neutral-black-blue);
    color: var(--neutral-white);
    border-top-right-radius: 50px;
}
.footer-nav {
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.footer-nav-item ul{
    margin-top: 3rem;
}
.footer-nav-item li {
    margin-bottom: 1rem;
}
.footer-nav-link {
    color: var(--neutral-blue);
    text-decoration: none;
}
@media (max-width: 768px) {
    .footer-nav {
        flex-direction: column;
        align-items: center;
    }
    footer .logo {
        margin-bottom: 2rem;
    }
}
/* ADDITIONAL STYLES */
ul {
    list-style-type: none;
}
.hidden {
    display: none;
}
.btn {
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: var(--primary-red);
    background-color: var(--neutral-white);
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.alt-btn {
    background-color: transparent;
    color: var(--neutral-white);
    font-weight: 400;
}
.alt-btn-two {
    border: 1px solid white;
    font-weight: bold;
    margin-left: 2rem;
}

/* INTERACTIVITY */
.main-nav-item, .hamburger{
    cursor: pointer;
}
.main-nav-item:is(:hover, :focus), .footer-nav-link:is(:hover, :focus) {
    border-bottom: 1.5px solid white;
}
.btn:is(:hover, :focus) {
    background-color: var(--primary-light-red);
    color: var(--neutral-white);
}
.alt-btn-two:is(:hover, :focus) {
    border-color: transparent;
    color: var(--primary-light-red);
    background-color: var(--neutral-white);
}
.secondary-nav a:is(:hover, :focus) {
    font-weight: bold;
    color: #000;
}
.active::after {
    transform: rotate(180deg);
}
.icon {
    position: fixed;
    bottom: 5%;
    right: 5%;
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    padding: 0.5rem 0.7rem;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
}
.fa-github {
    transition: transform 150ms linear;
}
.icon:is(:hover, :focus) .fa-github{
    transform: rotate(720deg);
}